
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">WATHIQ</label>
    <ul>

      <li><a routerLink="/homepage"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogged()"><i class="fas fa-home" ></i>Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" *ngIf="!isLogged()"><i class="fas fa-sign-in-alt"></i>Log in</a></li>
      <li><a routerLink="/signup" ><i class="fas fa-sign-in-alt"></i>Sign up</a></li>

      <li><a routerLink="/aboutus"><i class="far fa-question-circle"></i>About</a></li>

      <li><a routerLink="/contactus"><i class="far fa-envelope"></i>Contact</a></li>
      
      
      <li><a routerLink="/profile"routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogged()">profile</a></li>
      
      
        <li><a routerLink="/logout" (click)="logout()"routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogged()">Logout </a></li>

       <li><a routerLink="/user-list" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogged()">user-list </a></li>
       
       
        <li><a routerLink="/upload-certificate"
        routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogged()">upload Certificate </a></li>

    </ul>
  </nav>
  <section></section>
</body>