	<div class="card">
        <h4 class="card-header">Log in</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="handleTheLogin()">
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid':
                    loginForm.get('email').touched &&
                    loginForm.get('email').invalid}"/>

                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control"[ngClass]="{'is-invalid':
                    loginForm.get('password').touched &&
                    loginForm.get('password').invalid}"/>
                    
                </div>
                <div *ngIf="error">
                    <p>Incorrect email or password. please try again.</p>
                </div>
                
                <button [disabled]="loading" class="btn btn-primary"  [disabled]="!loginForm.valid">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    Login
                </button>
                
            </form>
        </div>
    </div>