<div class="container">
<app-navbar></app-navbar>
</div>

<!-- <input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
<header>Wathiq</header>
<ul>
<li><a routerLink="/home-page"><i class="fas fa-home"></i>Home</a></li>
<li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i>Log in</a></li>
<li><a routerLink="/signup"><i class="fas fa-sign-in-alt"></i>Sign up</a></li>
<li><a routerLink="/aboutus"><i class="far fa-question-circle"></i>About</a></li>
<li><a routerLink="/contactus"><i class="far fa-envelope"></i>Contact</a></li>
</ul>
</div> -->

<router-outlet></router-outlet>


