<div class="container">

    <form id="Signup-form" class="Signup-form" #f="ngForm" (ngSubmit)="addUser()" method="post">


        <h2 class="form-title">Create account</h2>

        <p class="hint-text"></p>
        <div class="radio">
            <label><input type="radio" (click)="orgForm()" name="radio">USER</label>
        </div>
        <div class="radio">
            <label><input type="radio" (click)="userForm()" name="radio" checked>ORGANIZATION</label>
        </div>

        <div class="form-fields" *ngIf="showMeNot">

            <div class="form-group">
                <input type="text" class="FormControl" name="name" id="name" placeholder="Your Name"
                    [(ngModel)]="user.fullName" #fullName="ngModel"
                    [ngClass]="{ 'is-invalid' : f.submitted && fullName.invalid}" minlength="5" maxlength="20"
                    required />
                
            </div>

            <div class="form-group">
                <input type="email" class="FormControl" name="email" id="email" placeholder="Your Email"
                    [(ngModel)]="user.email" #email="ngModel"
                    [ngClass]="{ 'is-invalid' : f.submitted && email.invalid}" required emial />
                <span class="help-block">xxxxxxxxx@xxxxx.xxx</span>
                

            </div>
            <div class="form-group">
                <input type="date" class="FormControl" name="dob" id="dob" placeholder="date of birth"
                    [(ngModel)]="user.dob" #dob="ngModel" [ngClass]="{ 'is-invalid' : f.submitted && dob.invalid}"
                    required />



            </div>

            <div class="form-group">
                <input type="number" class="FormControl" name="number" id="number" placeholder="Phone Number"
                    [(ngModel)]="user.phoneNumber" #phoneNumber="ngModel"
                    [ngClass]="{ 'is-invalid' : f.submitted && phoneNumber.invalid}" required minlength="10"
                    maxlength="15" />
            


            </div>
            <div class="form-group">
                <input type="number" class="FormControl" name="idnum" id="idnum" placeholder="National Id"
                    [(ngModel)]="user.nationalID" #nationalID="ngModel"
                    [ngClass]="{ 'is-invalid' : f.submitted && nationalID.invalid}" required minlength="10"
                    maxlength="10" />
               


            </div>
            <div class="form-group">
                <input type="text" class="FormControl" name="password" id="password" placeholder="Password"
                    [(ngModel)]="user.password" #password="ngModel"
                     />


            </div>
            <div class="form-group">
                <input type="password" class="FormControl" name="re_password" id="re_password"
                    placeholder="Repeat your password" [(ngModel)]="user.password" #password="ngModel"
                     />
            </div>

            <div class="form-group">
                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term " />
                <label for="agree-term" class="label-agree-term"><span></span>I agree all
                    statements in <a href="#" class="term-service">Terms of service</a></label>
            </div>
            <button name="submit" class="form-group" id="submit"> signup </button>

        </div>
    </form>
</div>
                    <!-- ----------------TABLE OF ORG------------------------ -->
<div class="container">

    <form id="signup-form" class="signup-form" #f="ngForm" (ngSubmit)="addOrg()"  method="post">
        <div class="form-fields" *ngIf="showMe">


            <div class="form-group">
                <input type="text" class="FormControl" name="name" id="name" placeholder="organisation Name" 
                [(ngModel)]="userOrg.fullName" #orgaName="ngModel"
                required />


            </div>
    


            <div class="form-group">
                <input type="email" class="FormControl" name="email" id="email" placeholder="organisation Email" required
                    emial
                    [(ngModel)]="userOrg.email" #orgaEmail="ngModel"
                    />
                <span class="help-block">xxxxxx@xxxxx.xxx</span>

            </div>

            <!-- <div class="form-group">
                <input type="number" class="form-input" name="number" id="number" placeholder="CONTACT Number"
                [(ngModel)]="userOrg.phoneNumber" #orgaContactNumber="ngModel"
                />


            </div> -->


            <div class="form-group">
                <input type="text" class="FormControl" name="password" id="password" placeholder="Password"
                [(ngModel)]="userOrg.password" #password="ngModel"/>


            </div>
            <div class="form-group">
                <input type="password" class="FormControl" name="re_password" id="re_password"
                    placeholder="Repeat your password" required />

            </div>


            <div class="form-group">
                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term " />
                <label for="agree-term" class="label-agree-term"><span></span>I agree all
                    statements in <a href="#" class="term-service">Terms of service</a></label>
            </div>
            <button name="submit" class="form-group" id="submit"> register </button>
        </div>
    </form>
</div>

<p class="loginhere">
    Have already an account ? <a href="http://localhost:4200/login" class="loginhere-link">Login
        here</a>
</p>
